include start.pug

div(id="app")
    div(id="container" :style="{width:targetWidth + 'px', height: targetHeight + 'px'}")
        div(id="videoContainer" v-show="mode=='takePicture'" :style="{width:targetWidth + 'px', height: targetHeight + 'px'}")
            video(id="video" playsinline autoplay) Video stream not available
        div(id="finalContainer" v-show="mode=='final'" :style="{width:targetWidth + 'px', height: targetHeight + 'px'}")
            img(:src="finalImage")
        div(id="photoContainer" v-show="false")
            canvas(id="photoCanvas" :width="targetWidth" :height="targetHeight")
        div(id="canvasContainer" v-show="mode=='edit'" :style="{width:targetWidth + 'px', height: targetHeight + 'px'}")
            canvas(id="fabricCanvas" :width="targetWidth" :height="targetHeight")
    div(id="startContainer" v-show="mode=='wait'")
        img(src="img/logo_white.svg" width="300" style="margin-bottom: 30px;" v-on:click="start")
        button(type="button" class="btn btn-lg btn-light" v-on:click="start") Start
    div(id="controls")
        div(id="cameraControls" v-if="mode=='takePicture'")
            div(class="center" style="justify-content: flex-end;")
                img(src="img/capture.svg" class="controlBtn" v-on:click="takePhoto")
            div(class="bottom")
                img(src="img/camera-switch.svg" class="controlBtn" v-on:click="nextCamera" v-if="cameras.length > 1")
        div(id="editControls" v-if="mode=='edit' && editMode=='none'")
            div(class="top" style="text-align: center;")
                img(src="img/pencil.svg" class="controlBtn" v-on:click="drawMode()")
                img(src="img/sticker.svg" class="controlBtn" v-on:click="stickerMode()")
                img(src="img/giphy.svg" class="controlBtn" v-on:click="giphyMode()")
                img(src="img/text-tool.svg" class="controlBtn" v-on:click="textMode()")
            div(class="top-right")
                img(src="img/full-screen-button.svg" class="controlBtn" v-on:click="fullscreen" v-if="!isFullscreen && supportsFullscreen")
                img(src="img/save.svg" class="controlBtn" v-on:click="save()")
        div(id="drawControls" v-if="mode=='edit' && editMode=='draw'")
            div(class="top")
                img(src="img/back.svg" class="controlBtn" v-on:click="drawReturn()")
            div(class="top" style="text-align: center;")
                svg(viewBox="0 0 50 50" v-on:click="setColor('#C8553D')" class="controlBtn")
                    circle(cx="25" cy="25" r="22" stroke="white" stroke-width="3" fill="#C8553D")
                svg(viewBox="0 0 50 50" v-on:click="setColor('#3A506B')" class="controlBtn")
                    circle(cx="25" cy="25" r="22" stroke="white" stroke-width="3" fill="#3A506B")
                svg(viewBox="0 0 50 50" v-on:click="setColor('#776472')" class="controlBtn")
                    circle(cx="25" cy="25" r="22" stroke="white" stroke-width="3" fill="#776472")
                svg(viewBox="0 0 50 50" v-on:click="setColor('#DDF093')" class="controlBtn")
                    circle(cx="25" cy="25" r="22" stroke="white" stroke-width="3" fill="#DDF093")
                svg(viewBox="0 0 50 50" v-on:click="setColor('#F7D002')" class="controlBtn")
                    circle(cx="25" cy="25" r="22" stroke="white" stroke-width="3" fill="#F7D002")
                svg(viewBox="0 0 50 50" v-on:click="setColor('#F00699')" class="controlBtn")
                    circle(cx="25" cy="25" r="22" stroke="white" stroke-width="3" fill="#F00699")
            div(class="center")
                div(style="display: flex; flex-direction: column")
                    svg(viewBox="0 0 50 50" v-on:click="setStroke(20)" class="controlBtn")
                        circle(cx="25" cy="25" r="10" fill="white")
                    svg(viewBox="0 0 50 50" v-on:click="setStroke(15)" class="controlBtn")
                        circle(cx="25" cy="25" r="7.5" fill="white")
                    svg(viewBox="0 0 50 50" v-on:click="setStroke(10)" class="controlBtn")
                        circle(cx="25" cy="25" r="5" fill="white")
                    svg(viewBox="0 0 50 50" v-on:click="setStroke(5)" class="controlBtn")
                                circle(cx="25" cy="25" r="2.5" fill="white")
        div(id="textControls" v-if="mode=='edit' && editMode=='text'")
            div(class="top")
                img(src="img/back.svg" class="controlBtn" v-on:click="drawReturn()")
            div(class="top" style="text-align: center;")
                input(type="text" class="form-control" style="width: 250px; margin: auto; margin-top: 5px; pointer-events: auto;" v-model="text" v-on:input="textChanged" placeholder="Your Text")
            div(class="bottom" style="text-align: center;")
                svg(viewBox="0 0 50 50" v-on:click="setTextColor('#C8553D')" class="controlBtn")
                    circle(cx="25" cy="25" r="22" stroke="white" stroke-width="3" fill="#C8553D")
                svg(viewBox="0 0 50 50" v-on:click="setTextColor('#3A506B')" class="controlBtn")
                    circle(cx="25" cy="25" r="22" stroke="white" stroke-width="3" fill="#3A506B")
                svg(viewBox="0 0 50 50" v-on:click="setTextColor('#776472')" class="controlBtn")
                    circle(cx="25" cy="25" r="22" stroke="white" stroke-width="3" fill="#776472")
                svg(viewBox="0 0 50 50" v-on:click="setTextColor('#DDF093')" class="controlBtn")
                    circle(cx="25" cy="25" r="22" stroke="white" stroke-width="3" fill="#DDF093")
                svg(viewBox="0 0 50 50" v-on:click="setTextColor('#F7D002')" class="controlBtn")
                    circle(cx="25" cy="25" r="22" stroke="white" stroke-width="3" fill="#F7D002")
                svg(viewBox="0 0 50 50" v-on:click="setTextColor('#F00699')" class="controlBtn")
                    circle(cx="25" cy="25" r="22" stroke="white" stroke-width="3" fill="#F00699")
            div(class="center")
                div(style="display: flex; flex-direction: column")
                    span(v-on:click="setFamily('Roboto')" class="controlBtn fontBtn" style="font-family: 'Roboto';") T
                    span(v-on:click="setFamily('Arvo')" class="controlBtn fontBtn" style="font-family: 'Arvo';") T
                    span(v-on:click="setFamily('DM Mono')" class="controlBtn fontBtn" style="font-family: 'DM Mono';") T
                    span(v-on:click="setFamily('Permanent Marker')" class="controlBtn fontBtn" style="font-family: 'Permanent Marker';") T
                    span(v-on:click="setFamily('Rowdies')" class="controlBtn fontBtn" style="font-family: 'Rowdies';") T
        div(id="stickerControls" v-if="mode=='edit' && editMode=='sticker'")
            div(class="top")
                img(src="img/back.svg" class="controlBtn" v-on:click="drawReturn()")
            div(class="listContainer")
                div(class="list")
                    div(class="listItem" v-for="item in items" v-on:click="addSticker(item)")
                        div(class="image" v-bind:style="{backgroundImage:'url(img/sticker/' +  item.imageUrl + ')'}")
        div(id="giphyControls" v-if="mode=='edit' && editMode=='giphy'")
            div(class="top")
                img(src="img/back.svg" class="controlBtn" v-on:click="drawReturn()")
            div(class="listContainer")
                div(class="input")
                    div(class="form-group" style="text-align: right;")
                        input(type="text" class="form-control" v-model="giphyTerm" v-on:input="giphyTermChanged" placeholder="Bilder suchen")
                        img(src="img/giphy-powered.png")
                div(class="list")
                    div(class="listItem" v-for="item in items" v-on:click="addGiphy(item)")
                        span(class="image" v-bind:style="{backgroundImage: 'url(' + item.images.fixed_height_still.url + ')'}")
        div(id="finalControls" v-if="mode=='final'")
            div(class="top" style="text-align: center;")
                img(src="img/download.svg" class="controlBtn" v-on:click="download()")
                img(src="img/print.svg" class="controlBtn" v-on:click="print()")
    div(id="progressContainer")




script(src="js/editor.js")
