include start.pug

div(id="app")
    div(class="container")
        h1 Druckerwarteschlange
        div(class="galleryImage" v-for="image of printImages")
            img(:src="'api/img/' + image.uuid")
        h1 Galerie
        div(class="galleryImage" v-for="image of images")
            img(:src="'api/img/' + image.uuid" v-on:click="showPrint(image);")
            button(v-if="image.showPrint" class="btn btn-light" v-on:click="print(image);") Nochmal Drucken

script(src="js/gallery.js")
