doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="icon" type="image/svg+xml" href="/img/favicon.svg" sizes="any")
        meta(name="theme-color" content="#000000")
        title Carina und Kalle Fotoapp
        script(src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/async/2.1.4/async.min.js")
        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.1.0/fontfaceobserver.standalone.js" integrity="sha512-u/yLQ5Cr3lmywJXLvtkKXONhFOU2GA5dvhIw4yxI9oMcs36TpQfu3yW3fOFEsFlxTQ4BgM0Cc/dWzAUMdFopjA==" crossorigin="anonymous")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex.min.css" integrity="sha256-tNBAz64TxO3GEr4eK4wo1lUKT0oium9qL5PqX3Pq8yE=" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex-theme-os.min.css" integrity="sha256-JYiue8IdviZLZRYXRaDAMn/N0H50KoP7jCX/IXvKm34=" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=DM+Mono:wght@500&family=Permanent+Marker&family=Roboto&family=Rowdies:wght@700&display=swap" rel="stylesheet")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" integrity="sha256-XmdRbTre/3RulhYk/cOBUMpYlaAp2Rpo/s556u0OIKk=" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/js/vex.combined.min.js" integrity="sha256-qObWTmBVvSj8Kh/R02uSsIcrO5B2Bow7/taqyDFHqXc=" crossorigin="anonymous")
        script() vex.defaultOptions.className = 'vex-theme-os'
        script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js" integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.3/fabric.min.js")
        script(src="js/progressbar.js")
    link(rel="stylesheet" href="/css/styles.css")
    body
