#container {
    width: 1772px;
    height: 1181px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#startContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    pointer-events: auto;
}

#videoContainer, #canvasContainer, #finalContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

#video {
}

body,html {
    background: black;
    margin: 0;
    color: white;
}

#controls, #drawControls, #editControls, #stickerControls, #giphyControls, #progressContainer, #textControls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#progressContainer svg {
    height: 5px;
}

input.form-control, input.form-control:focus {
    background-color: #777;
    color: white;
}

input.form-control::placeholder, input.form-control:focus::placeholder {
    color: white;
}

#cameraControls {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.controlBtn {
    margin: 5px 5px;
    pointer-events: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.fontBtn {
    display: inline-block;
    font-size: 32px;
    padding-top: 3px;
    color: white;
    text-align: center;
    background-image: url('../img/btnBackground.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

video {
    object-fit: cover;
}

.top, .center, .bottom {
    width: 100%;
}

.center {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.listContainer {
    position: absolute;
    top: 20%;
    left: 0;
    height: 80%;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    color: white;
    padding: 20px;
    display: flex;
    pointer-events: auto;
    flex-direction: column;
}

.galleryImage {
    text-align: center;
}

.galleryImage img {
    height: 350px;
    margin: 12px;
}

.list {
    overflow: auto;
    flex: 1;
}

.listItem {
    width: 150px;
    height: 100px;
    cursor: pointer;
    display: inline-block;
}

.listItem img {
    height: 120px;
}

.image {
    height: 150px;
    width: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}